@responsive {
  @variants hover, focus, active {
    .primary {
      &.em-high {
        opacity: 0.84;
      }

      &.em-medium {
        opacity: 0.54;
      }

      &.em-disabled {
        opacity: 0.38;
      }
    }

    .secondary {
      &.em-high {
        opacity: 0.9;
      }

      &.em-medium {
        opacity: 0.54;
      }

      &.em-disabled {
        opacity: 0.38;
      }
    }

    .background {
      &.em-high {
        opacity: 0.84;
      }

      &.em-medium {
        opacity: 0.54;
      }

      &.em-disabled {
        opacity: 0.38;
      }
    }

    .surface {
      &.em-high {
        opacity: 0.84;
      }

      &.em-medium {
        opacity: 0.54;
      }

      &.em-disabled {
        opacity: 0.38;
      }
    }

    .em-error {
      opacity: 0.87;
    }

    /* divider ?? */
  }
}
