h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder !important;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.17em !important;
}

h4 {
  font-size: 1em !important;
}

h5 {
  font-size: 0.83em !important;
}

h6 {
  font-size: 0.67em !important;
}

ul,
ol {
  display: block !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 40px !important;
}

ol {
  list-style-type: decimal !important;
}

ul {
  list-style-type: disc !important;
}

li {
  display: list-item !important;
}
